@{
    List<Student> students = Model;
}

<h1>Students</h1>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in students)
        {
            <tr>
                <td>@student.Id</td>
                <td>
                    <a asp-controller="student" asp-action="details" asp-route-id="@student.Id"> @student.Name</a>
                </td>

            </tr>
        }
    </tbody>
</table>
